body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:'Times New Roman', Times, serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #cbcdd2;
}

.top-content {
    background-color: #1f2937;
    height: 500px;
}

.links-container {
    height: 33%;
    padding: 16px;
    display: flex;
    justify-content: space-around;
}

.right-links {
    display: flex;
    gap: 32px;
}

.top-info {
    height: 67%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
}

.top-left {
    width: 500px;
    padding: 16px;
}


.top-content-header {
    font-size: 48px;
    font-weight: 900;
    color: white;
}

.top-content-text {
    font-size: 24px;
    color: #cbcdd2;
}

button.sign-up {
    cursor: pointer;
    padding: 12px 48px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
}

button.sign-up-bottom {
    cursor: pointer;
    padding: 12px 48px;
    background-color: #3882F6;
    border-radius: 8px;
    border: 1px solid white;
    color:white
}

.middle-content {
    height: 400px;
}

.bottom-content {
    height: 500px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    position: relative;
    height: 250px;
    width: 700px;
    padding: 16px;
    display: flex;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color:  #1f2937;    
}

.quote-reference {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 24px;
    font-weight: 900;
    color: black;
}

.call-to-action {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-to-action-container {
    height: 150px;
    width: 1200px;
    background-color: #3882F6;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.call-to-action-header {
    font-size: 24px;
    font-weight: 900;
    color:#E5E7EB;
}
.call-to-action-text {
    font-size: 20px;
    font-weight:normal;
}
.footer {
    background-color: #1f2937;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    font-size: 18px;
    color:#E5E7EB;
}
    